*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    margin: 10px 20px;
} */
.box{
    width: 100px;
    height: 100px;
    background: orange;
    margin: 5px;
 
   
}
.container{
    width: 100%;
    height: 700px;
    margin: 0px;
    background-color: rgb(147, 147, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}